@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

th,
td {
	padding: 5px;
	border: 1px solid #B9B9B9;
}

@layer components {
  .pagination-item{
    @apply px-0 py-3 h-8 text-center mx-1 my-auto text-black flex box-border items-center rounded-md text-sm min-w-[32px] cursor-pointer hover:opacity-80 border border-solid border-gray-300 flex justify-center items-center my-2;
  }
}

